.pagination {
    height: 36px;
    margin: 18px 0;
    margin-top: 4rem;
    margin-bottom: 0rem;
}
.pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}

.pagination li {
    display: inline;
}
.pagination button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #a76b1ce7;
    background-color: transparent;
    border-style: solid;
    border-width: 2px 2px 2px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.pagination button:hover, .pagination .active button {
    transition: 500ms;
    background-color: #fdb61cc7;
    color: aliceblue;
}
.pagination .active button {
    color: #999999;
    cursor: default;
}
.pagination .disabled button, .pagination .disabled button:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.pagination li:first-child button {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child button {
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}

.pagination :focus {
    background-color: #fdb61cc7;
    color: #242121;
}